<mat-card>
  <mat-card-content>
    <div class="row">

      <mat-form-field class="col-xs-12">
        <mat-label>{{'filter' | translate}}</mat-label>
        <input matInput [formControl]="filterCtrl" #filter>
      </mat-form-field>

      <div class="col-xs-12">
        <table mat-table [dataSource]="dataSource" matSort class="full-width">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'feature.technicalName' | translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.technicalName}} </td>
          </ng-container>

          <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'feature.displayName' | translate}} </th>
            <td mat-cell *matCellDef="let row"> {{row.displayName}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="clickable"
            [ngClass]="{'selected-feature': selected && selected.id === row.id}" (click)="select(row)"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">{{'feature.noresults' | translate}}</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="accent" (click)="create()">
      {{'create' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
