@import "~flexboxgrid/css/index.min.css";
@import "~flexboxgrid/css/flexboxgrid.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.clickable-row {
  cursor: pointer;
  &:hover {
    background-color: whitesmoke;
  }
}
